* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "SourceCodePro";
  font-size: 16px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
  transition: none; /* Disable predefined animations */
}

#workspaces button {
  padding: 0 5px;
  color: #ffffff;
  border-bottom: 3px solid transparent;
}

#workspaces button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
}

#workspaces button.focused {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#scratchpad {
  padding: 0 10px;
  color: #ffffff;
}

#workspaces {
  margin: 0 4px;
}

#window {
  margin: 0 12px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: #64727d;
}

#battery {
  background-color: #ffffff;
  color: #000000;
}

#battery.charging,
#battery.plugged {
  color: #ffffff;
  background-color: #26a65b;
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: #2ecc71;
  color: #000000;
}

#backlight {
  background-color: #90b1b1;
}

#network {
  background-color: #2980b9;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  background-color: #f1c40f;
  color: #000000;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#wireplumber {
  background-color: #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  background-color: #2980b9;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0;
  /* 2 symbols min + extra space*/
  min-width: 3em;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}
